a:hover{color: #0c85d6 !important}
.topmenu{background:#00182f}
.dropdown-content{background-color: #00182f;}
#cssmenu ul ul li{background: #fff}
#cssmenu ul ul li:hover{background: #ddd;}
.text .text-center{border-bottom: 5px solid #0671b8 !important;color: #0671b8;}
.text .col-md{border-bottom: 5px solid #acacac;padding: 0%}
.body-footer{background: #0777c0}
.footer{background:#012a4a}
.footer .title h5{color:#0c85d6}
.footer .bottom{background: #00182f}
.footer .bottom li{background:#012a4a;}
.footer a:hover{color: #0c85d6 !important}
.brad ul{border-bottom: 1px solid #00480a;}
.brad li{border-bottom: 3px solid #0671b8;}
#contact button#submit{background: #012a4a; color:#fff}
#contact button#submit:hover {background: #0777c0;color: #fff}
#contact .form-control:focus {border-bottom-color: #0777c0;}
.product-payment-details .btn-primary{background: #012a4a;border-color:#012a4a}
.product-payment-details .btn-primary:hover{background: #0777c0;
    border-color:#0777c0;color:#fff;transition: all .5s ease-in-out;
}
.product-gallery-thumbnails .thumbnails-list li:hover::before{background:#00800d;}
.detail .project-tab .nav-link{color: #012a4a;}
.detail .project-tab #tabs .nav-tabs .nav-item.show .nav-link,
.detail .nav-tabs .nav-link.active {color:#012a4a}

.news .news-s h5{color:#012a4a}
#contact h3{color:#012a4a}
.news img:hover{border: 13px solid #0777c0}
.product-list .btn-info,
.product-list .btn-danger{
    color: #fff;
    background-color: #012a4a;
    border-color: #012a4a;
}
.product-list .btn-success {
    color: #fff;
    background-color: #012a4a;
    border-color: #012a4a;
    border-radius: 0%;
}
.product-list .btn-success:hover{background-color: #012a4a;}