a:hover{color: #6DDB07 !important}
.topmenu{background:#00480a}
.dropdown-content{background-color: #00480a;}
#cssmenu ul ul li{background: #fff}
#cssmenu ul ul li:hover{background: #ddd;}
.text .text-center{border-bottom: 5px solid #00480a !important;color: #00480a;}
.text .col-md{border-bottom: 5px solid #acacac;padding: 0%}
.body-footer{background: #9fd752}
.footer{background: #003907}
.footer .title h5{color: #9fd752}
.footer .bottom{background: #002002}
.footer .bottom li{background: #003907;}
.footer a:hover{color: #9fd752 !important}
.brad ul{border-bottom: 1px solid #00480a;}
.brad li{border-bottom: 3px solid #00480a;}
#contact button#submit{background: #00480a; color:#fff}
#contact button#submit:hover {background: #9fd74a;color: #000}
#contact .form-control:focus {border-bottom-color: #9fd74a;}
.product-payment-details .btn-primary{background: #003907}
.product-payment-details .btn-primary:hover{background: #d3f3a3;
    border-color:#9fd74a;color:#000;transition: all .5s ease-in-out;
}
.product-gallery-thumbnails .thumbnails-list li:hover::before{background:#00800d;}
.detail .project-tab .nav-link{color: #00480a;}
.detail .project-tab #tabs .nav-tabs .nav-item.show .nav-link,
.detail .nav-tabs .nav-link.active {color:#00480a}

.news .news-s h5{color:#003907}
#contact h3{color:#00480a}
.news img:hover{border: 13px solid #9fd74a}
.product-list .btn-info,
.product-list .btn-danger{
    color: #fff;
    background-color: #00480a;
    border-color: #00480a;
}
.product-list .btn-success {
    color: #fff;
    background-color: #00480a;
    border-color: #00480a;
    border-radius: 0%;
}
.product-list .btn-success:hover{background-color: #00480a;}