@media (max-width:768px) {
    .container{max-width: 100% !important;padding: 0% !important;margin: 0% !important;width: 100%}
    .topmenu .col-md{text-align: center !important}
    .topmenu .col-xs-12{width: 100%}
    .header .left{text-align: center}
}