.container{width:80%;max-width: 80%;}
.row{width: 100%;margin: 0%}
a{text-decoration: none !important}
.brad li{display: inline;margin: -2px;padding: 2px;}
.brad ul{padding: 0%;width: 100%;text-align: center}
.brad a{color: #000}
/***-- start topmenu --***/

.topmenu .col-md{padding: 0%}
.topmenu .right{text-align: right}
.topmenu .right li{display: inline;margin-left: 2% !important;}
.topmenu p{color: #fff;margin: 0%}
.topmenu ul{padding: 0%;margin: 0%}
.topmenu a{color: #fff}
.topmenu .dropdown {position: relative;display: inline-block;}
.topmenu .dropdown-content a {color: white;padding: 12px 16px;text-decoration: none;display: block;}
.topmenu .show {display: block;margin-left: -40%;}
.dropdown-content {position: absolute;min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 1;display: none;overflow: auto;
}
.topmenu .dropbtn {background-color:transparent;color: white;
  padding:0%;font-size: 16px;border: none;cursor: pointer;
}

/***-- end topmenu --***/
/***-- start header --***/

.header{padding: 0.5% 0%;}
.header .col-md{padding: 0%}
.header .right{padding: 1.1% 0%;}
.header .left img{width: 40%}
.header .right img{width: 100%}

/***-- end header --***/
/***-- start menu --***/

header{position: relative;width: 100%;background: #fff;border-top: 1px solid #858585;border-bottom: 1px solid #858585;}
.menu .active{margin: 0% !important}
.logo {position: relative;z-index: 123;padding: 10px;font: 18px verdana;color: #6DDB07;float: left;width: 15%}
.logo a {color: #6DDB07;}
nav {position: relative;width: 980px}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #head-mobile {list-style: none;line-height: 1;display: block;position: relative;padding: 0%;
	-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;margin: 0%;
}
#cssmenu:after,
#cssmenu > ul:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0}
#cssmenu #head-mobile {display: none}
#cssmenu {font-family: sans-serif;background: transparent}
#cssmenu > ul > li {float: left;margin-left: 3%}
#cssmenu > ul > li > a {padding: 17px 0px;font-size: 12px;
	letter-spacing: 1px;text-decoration: none;color: #000;font-weight: 700;
}
#cssmenu > ul > li:hover > a,
#cssmenu ul li.active a {color: #000}
#cssmenu > ul > li:hover,
#cssmenu ul li.active:hover,
#cssmenu ul li.active,
#cssmenu ul li.has-sub.active:hover {transition: background .3s ease;
	-webkit-transition: background .3s ease;-ms-transition: background .3s ease;
}
#cssmenu > ul > li.has-sub > a {padding-right: 30px}
#cssmenu > ul > li.has-sub > a:after {position: absolute;top: 22px;right: 11px;
	height: 2px;display: block;background: #ddd;content: '';width: 8px;
}
#cssmenu > ul > li.has-sub > a:before {position: absolute;top: 19px;right: 14px;
	display: block;width: 2px;height: 8px;background: #ddd;transition: all .25s ease;
	content: '';-webkit-transition: all .25s ease;-ms-transition: all .25s ease;
}
#cssmenu > ul > li.has-sub:hover > a:before {top: 23px;height: 0}
#cssmenu ul ul {position: absolute;left: -9999px;padding: 0%;z-index: 1;}
#cssmenu ul ul li {height: 0;-webkit-transition: all .25s ease;
	-ms-transition: all .25s ease;transition: all .25s ease
}
#cssmenu li:hover > ul {left: auto}
#cssmenu li:hover > ul > li {height: 35px}
#cssmenu ul ul ul {margin-left: 100%;top: 0}
#cssmenu ul ul li a {border-bottom: 1px solid rgba(150, 150, 150, 0.15);padding: 11px 15px;
  text-decoration: none;color: #000;font-weight: 400;width: 170px;font-size: 12px;
}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {border-bottom: 0}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {color: #000}
#cssmenu ul ul li.has-sub > a:after {position: absolute;
	top: 16px;right: 11px;width: 8px;height: 2px;
	display: block;background: #ddd;content: ''
}
#cssmenu ul ul li.has-sub > a:before {position: absolute;
	top: 13px;right: 14px;display: block;width: 2px;height: 8px;
	background: #ddd;content: '';-webkit-transition: all .25s ease;
	-ms-transition: all .25s ease;transition: all .25s ease
}
#cssmenu ul ul > li.has-sub:hover > a:before {top: 17px;height: 0}
#cssmenu ul ul li.has-sub:hover,
#cssmenu ul li.has-sub ul li.has-sub ul li:hover {background: #363636;}
#cssmenu ul ul ul li.active a {border-left: 1px solid #333}
#cssmenu > ul > li.has-sub > ul > li.active > a,
#cssmenu > ul ul > li.has-sub > ul > li.active > a {border-top: 1px solid #333}
@media screen and (max-width:1000px) {
	.logo {position: absolute;top: 0;left: 0;width: 100%;
		height:46px;text-align:center;padding:10px 0 0 0;float: none
  }
	.logo2 {display: none}
	nav {width: 100%;}
	#cssmenu {width: 100%}
	#cssmenu ul {width: 100%;display: none}
	#cssmenu ul li {width: 100%;border-top: 1px solid #444}
	#cssmenu ul li:hover {background: #363636;}
	#cssmenu ul ul li,
	#cssmenu li:hover > ul > li {height: auto}
	#cssmenu ul li a,
	#cssmenu ul ul li a {width: 100%;border-bottom: 0}
	#cssmenu > ul > li {float: none}
	#cssmenu ul ul li a {padding-left: 25px}
	#cssmenu ul ul li {background: #333!important;}
	#cssmenu ul ul li:hover {background: #363636!important}
	#cssmenu ul ul ul li a {padding-left: 35px}
	#cssmenu ul ul li a {color: #ddd;background: none}
	#cssmenu ul ul li:hover > a,
	#cssmenu ul ul li.active > a {color: #fff}
	#cssmenu ul ul,
	#cssmenu ul ul ul {position: relative;left: 0;width: 100%;margin: 0;text-align: left}
	#cssmenu > ul > li.has-sub > a:after,
	#cssmenu > ul > li.has-sub > a:before,
	#cssmenu ul ul > li.has-sub > a:after,
	#cssmenu ul ul > li.has-sub > a:before {display: none}
	#cssmenu ul ul ul li.active a {border-left: none}
	#cssmenu > ul > li.has-sub > ul > li.active > a,
	#cssmenu > ul ul > li.has-sub > ul > li.active > a {border-top: none}
}

/***-- end menu --***/
/***-- start carousel --***/

.carousel-inner img {width: 100%;height:auto;}
.carousel-caption{background: rgba(0,0,0,0.5);margin: 7% 0%;}

/***-- end carousel --***/
/***-- start product-first --***/

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/*================================================*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
.product-first .carousel-item > div {float: left;}
.product-first .carousel-by-item [class*="cloneditem-"] {display: none;}
.product-first .back{background: #ebebeb;padding: 10px 40px;}
.product-first .text-center h3{font-weight: lighter}
.product-first .flaticon{color: #000}
.product-first #slider-2 img{width: 80%;margin: auto}
.product-first .carousel-control-next,
.product-first .carousel-control-prev{margin:-9%;font-size: 30px}
.product-first .hos{background: #fff;text-align: center;padding: 1% 0% 4% 0%} 
.product-first .hos h4{color:#333}
/***-- end product-first --***/
/***-- start news --***/

.news{background:#ebebeb;}
.news img{width:65%;margin: auto;border-radius: 50%;border: 13px solid #cddace}

.news .img{text-align: center;}
.news p{font-size:0.6vw}
.news .news-s .text-center{padding:0% 11%}

/***-- end news --***/
/***-- start body-footer --***/
.body-footer{padding: 2% 0%}
.body-footer .col-md{padding: 0%}
.body-footer img{width: 100%}
/***-- end body-footer --***/

/***-- start footer --***/

.footer{padding-top:2% }
.footer .col-md{padding: 0%;}
.footer h5,
.footer p,
.footer a{color: #fff}
.footer ul{padding: 0%}
.footer li{display: block}
.footer .bottom .col-md-2,
.footer .bottom .col-md-8{padding: 0%;}
.footer .bottom .center{text-align: center;padding-top: 1%}
.footer .bottom .right{text-align: right;padding-top: 1%}
.footer .bottom li{display: inline;}
.footer .bottom p{margin: 0%;font-size: 0.7vw;}
.footer .bottom li a{color: #fff}
.footer .bottom li {margin-right: 5%;padding: 4% 5%;}
.footer .bottom img{width: 75%}

/***-- end footer --***/
/***-- start information --***/

.information .back{background: #ebebeb} 
.information img{width: 100%}
.information .col-md-2,
.information .col-md-10{padding: 0%}
.information .back{padding: 2%}
.information .text-t{padding: 1% 3%}

/***-- end information --***/
/***-- start contact --***/

#contact .social .col-md-10,
#contact .social .col-md-2{padding: 0%}
#contact .col-md-10 ul{padding: 5% 0% 0% 10%}
#contact .col-md-10 li{display: block}
#contact svg{width: 100%}
#contact input {height: 55px;}
#contact .contact-info .fa {padding-right: 5px;}
#contact button#submit {border: none;
	border-radius:0px;color: #fff;height: 50px;margin-top: 24px;
}
#contact .form-control {border: none;border-bottom: 2px solid #f0f0f0;border-radius: 0px;
	box-shadow: none;font-size: 18px;margin-top: 10px;margin-bottom: 10px;
	-webkit-transition: all ease-in-out 0.4s;transition: all ease-in-out 0.4s;
}
#contact .flaticon{font-size:25px}
#contact a{color: #000}
#contact .col-md-5,
#contact .col-md-6,
#contact .col-md-7,
#contact .col-md-12{padding: 0% 1%}
#contact .col-md-4{float:right;padding: 0%}

/***-- end contact --***/
/***-- start detail --***/

.header-navigation {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	font-size: .80rem;
  }
  
  .header-navigation a {
	font-size: .80rem;
  }
  
  .header-navigation .breadcrumb {
	margin-bottom: 0;
	background-color: transparent;
	padding: 0.20rem 1rem;
  }
  
  .header-navigation .btn-group {
   margin-left: auto;
  }
  
  .header-navigation .btn-share {
	position: relative;
  }
  
  .header-navigation .btn-share::after {
	content: "";
	width: 1px;
	height: 50%;
	background-color: #ccc;
	position: absolute;
	top: 50%;
	left: 100%;
	transform: translateY(-50%);
  }
  
  .store-body {
	display: flex;
	flex-direction: row;
	padding: 0;
  }
  
  .store-body .product-info {
	width:50%;
	border-right: 1px solid rgba(0,0,0,.125); 
  }
  
  .store-body .product-payment-details {
	width: 40%;
	padding: 15px 15px 0 15px;
  }
  
  .product-info .product-gallery {
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid rgba(0,0,0,.125);
  }
  
  .product-gallery-featured {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	padding: 15px 0;
	cursor: zoom-in;
  }
  .product-gallery-featured img{width: 61%}
  
  .product-gallery-thumbnails .thumbnails-list li {
	margin-bottom: 5px;
	cursor: pointer;
	position: relative;
	width: 70px;
	height: 70px;
  }
  
  .thumbnails-list li img {
	display: block;
	width: 100%;
  }
  
  .product-gallery-thumbnails .thumbnails-list li:hover::before {
	content: "";
	width: 3px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
  }
  
  .product-info .product-seller-recommended {
	padding: 20px 20px 0 20px;
  }
  
  .product-comments textarea {
	height: 50px;
  }
  
  .last-questions-list li {
	margin-bottom: 20px;
  }
  
  .last-questions-list li span {
	padding-left: 10px;
  }
.product-payment-details .btn-primary{border-radius: 0%}



.detail .project-tab {
    padding: 2% 10%;
	margin-bottom: 1%;
}
.detail nav{width: 100%}
.detail .project-tab #tabs h6.section-title{
    color: #eee;
}
.detail .project-tab #tabs .nav-tabs .nav-item.show .nav-link,
.detail .nav-tabs .nav-link.active {
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}
.detail .project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    font-size: 16px;
    font-weight: 600;
}
.detail .project-tab .nav-link:hover {
    border: none;
}
.detail .project-tab thead{
    background: #f3f3f3;
    color: #333;
}
.detail .project-tab a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
/***-- end detail --***/

/***-- start about --***/
.about-us .col-md-5,
.about-us .col-md-7{padding: 0%}
.about-us .col-md-5 img{width: 100%}
.about-us .text-x{padding: 4%}
/***-- end about --***/
/***-- start news&blog --***/

.post-slide {
    position: relative;
    background: #FFF;
}
.post-slide .post-img {
    position: relative;
    overflow: hidden;
}
.post-slide .post-img img {
    width: 100%;
    height: auto;
}
.post-slide .over-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.6);
    transition: all 0.30s ease;
}
.post-slide:hover .over-layer {
    opacity: 1;
}
.post-slide .post-link {
    margin: 0;
    padding: 0;
    position: relative;
    top: 45%;
    text-align: center;
}
.post-slide .post-link li {
    display: inline-block;
    list-style: none;
    margin: -9px 0 0;
}
.post-slide .post-link li a {
    color: #FFF;
    font-size: 39px;
}
.post-slide .post-link li a:hover {
    color: #FF8B3D;
    text-decoration: none;
}
.post-slide .post-date {
    position: absolute;
    top: 10%;
    left: 4%;
}
.post-slide .date {
    display: inline-block;
    border-radius: 3px 0 0 3px;
    padding: 5px 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background: #333;
    float: left;
}
.post-slide .month {
    display: inline-block;
    border-radius: 0 3px 3px 0;
    padding: 5px 13px;
    color: #111;
    font-size: 20px;
    font-weight: bold;
    background: #FF8B3D;
}
.post-slide .post-content {
    padding: 30px;
    background-color: #F5F5F6;
}
.post-slide .post-title {
    margin: 0 0 15px 0;
}
.post-slide .post-title a {
    font-size: 17px;
    font-weight: bold;
    color: #333;
    display: inline-block;
    transition: all 0.3s ease 0s;
}
.post-slide .post-title a:hover {
    text-decoration: none;
    color: #FF8B3D;
}
.post-slide .post-description {
    font-size: 14px;
    line-height: 22px;
    color: #444444;
    padding: 0 0 10px 0;
}
.post-slide .read-more {
    color: #333;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    transition: color 0.20s linear;
}
.post-slide .read-more:hover {
    text-decoration: none;
    color: #FF8B3D;
}
.post-slide .read-more:after {
    content: "";
    position: absolute;
    width: 30%;
    display: block;
    border: 1px solid #FF8B3D;
    transition: all 0.30s ease;
}
.post-slide .read-more:hover:after {
    width: 100%;
}
@media only screen and (max-width: 479px) {
    .post-slide .month {
        font-size: 14px;
    }
    .post-slide .date {
        font-size: 14px;
    }
}
div.clanky .row {
    padding-top: 35px;
}

.news-us .col-sm-3{padding: 3px !important}
/***-- end news&blog --***/
/***-- start news-detail --***/

.news-detail img{width:100%}
.news-detail span{font-size:1.35vw}
.news-detail .col-5,
.news-detail .col-7{padding:0%}
.news-detail .text{padding:5%}

/***-- end news-detail --***/
/***-- start product-list --***/

.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}
.thumbnail
{
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
}
.item.list-group-item .img-event {
    float: left;
    width: 30%;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
    display: inline-block;
}
.item.list-group-item .caption
{
    float: left;
    width: 70%;
    margin: 0;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item:after
{
    clear: both;
}
.product-list .width{width:4%}
.product-list .card-body{background:#ebebeb }
/***-- end product-list --***/
