    /*
    Flaticon icon font: Flaticon
    Creation date: 17/01/2019 16:17
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-instagram:before { content: "\f100"; }
.flaticon-telegram:before { content: "\f101"; }
.flaticon-facebook:before { content: "\f102"; }
.flaticon-twitter:before { content: "\f103"; }
.flaticon-language:before { content: "\f104"; }
.flaticon-down-arrow:before { content: "\f105"; }
.flaticon-next:before { content: "\f106"; }
.flaticon-back:before { content: "\f107"; }
.flaticon-shopping-cart:before { content: "\f108"; }
.flaticon-share:before { content: "\f109"; }
.flaticon-call:before { content: "\f10a"; }
.flaticon-smartphone:before { content: "\f10b"; }
.flaticon-mail:before { content: "\f10c"; }
.flaticon-placeholder:before { content: "\f10d"; }
.flaticon-credit-card:before { content: "\f10e"; }
.flaticon-user:before { content: "\f10f"; }
    
    $font-Flaticon-instagram: "\f100";
    $font-Flaticon-telegram: "\f101";
    $font-Flaticon-facebook: "\f102";
    $font-Flaticon-twitter: "\f103";
    $font-Flaticon-language: "\f104";
    $font-Flaticon-down-arrow: "\f105";
    $font-Flaticon-next: "\f106";
    $font-Flaticon-back: "\f107";
    $font-Flaticon-shopping-cart: "\f108";
    $font-Flaticon-share: "\f109";
    $font-Flaticon-call: "\f10a";
    $font-Flaticon-smartphone: "\f10b";
    $font-Flaticon-mail: "\f10c";
    $font-Flaticon-placeholder: "\f10d";
    $font-Flaticon-credit-card: "\f10e";
    $font-Flaticon-user: "\f10f";