	/*
  	Flaticon icon font: Flaticon
  	Creation date: 17/01/2019 16:17
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-instagram:before { content: "\f100"; }
.flaticon-telegram:before { content: "\f101"; }
.flaticon-facebook:before { content: "\f102"; }
.flaticon-twitter:before { content: "\f103"; }
.flaticon-language:before { content: "\f104"; }
.flaticon-down-arrow:before { content: "\f105"; }
.flaticon-next:before { content: "\f106"; }
.flaticon-back:before { content: "\f107"; }
.flaticon-shopping-cart:before { content: "\f108"; }
.flaticon-share:before { content: "\f109"; }
.flaticon-call:before { content: "\f10a"; }
.flaticon-smartphone:before { content: "\f10b"; }
.flaticon-mail:before { content: "\f10c"; }
.flaticon-placeholder:before { content: "\f10d"; }
.flaticon-credit-card:before { content: "\f10e"; }
.flaticon-user:before { content: "\f10f"; }